
.welcome-message{
    font-size: 20px;
    background-color: #8ace00;
    color: black;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-prompt{
    font-size: 20px;
    background-color: black;
    color: #8ace00;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}